#main {
  min-height: 800px;
  min-width: 800px;
  padding: 0;
  display: flex;
  flex-flow: row;
}

#main > app-home {
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
  flex: 3 1 60%;
  order: 2;
}

#main > app-left-sidebar {
  margin: 4px;
  padding: 5px;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  flex: 1 6 20%;
  order: 1;
}

#main > app-right-sidebar {
  margin: 4px;
  padding: 5px;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  flex: 1 6 20%;
  order: 3;
}

app-header, app-footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: royalblue;
}

@media all and (max-width: 640px) {
  #main, #page {
    flex-direction: column;
  }

  #main > app-home, #main > app-right-sidebar, #main > app-left-sidebar {
    /* Return them to document order */
    order: 0;
  }

  #main > app-left-sidebar, #main > app-right-sidebar, app-header, app-footer {
    min-height: 50px;
    max-height: 50px;
  }
}
