#main {
  padding: 0;
  flex-direction: column;
  flex: 1 1 100%;
  display: flex;
  flex-flow: row;
}

app-home , app-plan {
  background-color: blueviolet;
  flex: 1 1 100%;
}
router-outlet {
  display: none;
}

.item-1, .item-3 {
  display: block;
  background-color: deepskyblue;
  margin: 4px;
  padding: 5px;
  flex: 1 6 10%;
}

app-header, app-footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border-radius: 7pt;
  background: royalblue;
}

@media all and (max-width: 640px) {
  #main, #page {
    flex-direction: column;
  }

  #main > router-outlet, #main > app-right-sidebar, #main > app-left-sidebar {
    /* Return them to document order */
    order: 0;
  }

  #main > app-left-sidebar, #main > app-right-sidebar, app-header, app-footer {
    min-height: 50px;
    max-height: 50px;
  }
}
