<div fxLayout="row" fxLayoutAlign="center center">
  {{diagnostic}}
  <form #detailsForm="ngForm" (ngSubmit)="onSubmit()">
    <div *ngIf="showRace" fxLayout="column" fxLayoutAlign="space-around stretch">
      <h2 class="header">Race details</h2>

      <md-input-container floatPlaceholder="never" class="form-group">
        <input mdInput  [mdDatepicker]="raceDate"  placeholder="date" class="form-control" id="raceDate"
               [(ngModel)]="model.raceDetails.raceDate" name="raceDate" required>
        <button mdSuffix [mdDatepickerToggle]="raceDate"></button>
      </md-input-container>
      <md-datepicker #raceDate></md-datepicker>

      <div class="form-group">
        <md-select  class="form-control" name="raceDistance" id="raceDistance"
                    [(ngModel)]="model.raceDetails.raceDistance" placeholder="distance" floatPlaceholder="never" required>
          <md-option *ngFor="let distance of distances" [value]="distance">{{distance}}</md-option>
        </md-select>
      </div>
    </div>

    <div>
      <md-slider thumbLabel  min="125" max="300" id="targetTime" name="targetTime"
          [(ngModel)]="model.raceDetails.targetTime">

      </md-slider>
    </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <button (click)="toggle()" md-fab>
          <md-icon>arrow_forward</md-icon>
        </button>
      </div>





    <div *ngIf="!showRace" fxLayout="column" fxLayoutAlign="space-around stretch">
      <h2 class="header">User details</h2>


      <div fxLayout="row" fxLayoutAlign="space-around stretch">
        <button md-fab (click)="toggle()" >
          <md-icon>arrow_back</md-icon>
        </button>

        <button type="submit">
          <md-icon>check</md-icon>
        </button>


      </div>
    </div>

  </form>
</div>
